* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fb;
    color: #222;
}

nav {
    height: 70px;
    background: #2563eb;
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 7%;
}

nav h2 {
    font-size: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}

.hero {
    min-height: 450px;

    display: flex;
    align-items: center;

    padding: 50px 10%;

    background: linear-gradient(
        120deg,
        #dbeafe,
        #eff6ff
    );
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    max-width: 600px;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 25px;
}

button {
    background: #2563eb;
    color: white;

    border: none;
    padding: 13px 25px;

    border-radius: 7px;

    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

.features {
    display: flex;
    gap: 25px;

    padding: 50px 10%;
}

.card {
    background: white;

    padding: 30px;

    border-radius: 12px;

    box-shadow:
        0 4px 15px rgba(0,0,0,0.08);

    flex: 1;
}

.card h3 {
    margin-bottom: 10px;
}

.login-container {
    min-height: calc(100vh - 70px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;

    width: 380px;

    padding: 35px;

    border-radius: 12px;

    box-shadow:
        0 5px 25px rgba(0,0,0,0.1);
}

.login-box h1 {
    margin-bottom: 10px;
}

.login-box p {
    margin-bottom: 20px;
}

.login-box label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login-box input {
    width: 100%;

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 6px;
}

.login-box button {
    width: 100%;
    margin-top: 20px;
}

.dashboard {
    padding: 50px 8%;
}

.dashboard h1 {
    margin-bottom: 10px;
}

.dashboard-cards {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 25px;

    margin-top: 30px;
}

.dashboard-cards .card {
    text-align: center;
}

.dashboard-cards h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

footer {
    text-align: center;
    padding: 20px;
}

@media (max-width: 800px) {

    .features {
        flex-direction: column;
    }

    .dashboard-cards {
        grid-template-columns: 1fr 1fr;
    }
}